<div class="app-container" [class.app-is-mobile]="mobileQuery.matches">
    <app-toolbar
      [isMobile]="mobileQuery.matches"
      (sidenavToggle)="sidenav.toggle()"
      (themeToggle)="toggleTheme()"
      [isDark]="(isDark$ | async) ?? false"
      [appName]="(displaySettings$ | async)?.agency_name"
      [botName]="(displaySettings$ | async)?.bot_name">
    </app-toolbar>

    <mat-sidenav-container class="app-sidenav-container">
      <!-- Sidenav -->
      <mat-sidenav #sidenav class="app-sidenav"
                   [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches"
                   fixedTopGap="64"
                   [opened]="!mobileQuery.matches"
                   (openedChange)="onSidenavOpenedChange($event)">
         <!-- Auto close sidenav on navigation in mobile view -->
        <app-sidenav (navigated)="mobileQuery.matches && sidenav.close()"></app-sidenav>
      </mat-sidenav>

      <!-- Main Content Area -->
      <mat-sidenav-content class="app-sidenav-content">
        <main class="main-content" role="main">
           <router-outlet></router-outlet>
        </main>
        <!-- Optional Footer -->
         <!-- <footer class="app-footer"> Footer content here </footer> -->
      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>
