<mat-toolbar color="primary" class="app-toolbar">
  <button
    mat-icon-button
    (click)="onToggleSidenav()"
    class="menu-button"
    aria-label="Toggle sidenav">
    <!-- Add conditional class binding here -->
    <mat-icon [class.force-white-icon]="!isDark">menu</mat-icon>
  </button>

  <span class="app-title" [matTooltip]="botName ? (appName + ' - ' + botName) : appName" *ngIf="appName">
      {{ appName }}
      <span class="bot-name" *ngIf="botName"> | {{ botName }}</span>
  </span>

  <span class="spacer"></span>

  <button
    mat-icon-button
    class="theme-button"
    (click)="onToggleTheme()"
    [matTooltip]="isDark ? 'Switch to Light Mode' : 'Switch to Dark Mode'"
    aria-label="Toggle theme">
    <mat-icon [class.force-white-icon]="!isDark">
       {{ isDark ? 'light_mode' : 'dark_mode' }}
    </mat-icon>
  </button>

</mat-toolbar>
