<div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group class="mb-0">
          <c-card class="p-4">
            <c-card-body>
              <!-- Pass loginForm to the login method -->
              <form cForm #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <h1>Login</h1>
                <p class="text-body-secondary">Sign In to your account</p>

                <!-- Error Message Display -->
                <c-alert color="danger" *ngIf="errorMessage" dismissible (visibleChange)="errorMessage = null">
                  {{ errorMessage }}
                </c-alert>

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilEnvelopeClosed"></svg>
                  </span>
                  <input 
                    cFormControl 
                    placeholder="Email" 
                    autocomplete="email" 
                    type="email" 
                    [(ngModel)]="email" 
                    name="email" 
                    required 
                    email #emailInput="ngModel" /> 
                  </c-input-group>
                  
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input 
                    cFormControl 
                    placeholder="Password" 
                    autocomplete="current-password" 
                    type="password" 
                    [(ngModel)]="password" 
                    name="password" 
                    required #passwordInput="ngModel" /> 
                </c-input-group>
                 
                <c-row>
                  <c-col xs="6">
                    <button 
                      cButton 
                      class="px-4" 
                      color="primary" 
                      type="submit" 
                      [disabled]="isLoading || loginForm.invalid">
                      <span *ngIf="isLoading" cSpinner component="span" size="sm" aria-hidden="true"></span>
                      {{ isLoading ? ' Logging in...' : 'Login' }}
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link" disabled>
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card class="text-white bg-primary py-5" style="width: 100%">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Don't have an account? Register now to manage your guild's
                  earnings and configurations.
                </p>
                <button cButton class="mt-3 text-white border-white" color="primary" [routerLink]="['/register']" variant="outline" type="button">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
