.page-container {
  padding: 20px;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

mat-form-field {
  width: 100%; // Ensure form fields take full width on smaller screens
}

.toggles-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 15px;
}

mat-slide-toggle {
  width: 100%; // Ensure toggles align properly on mobile
}

.error-message {
  color: red;
  padding: 15px;
  text-align: center;
}

mat-card {
  margin-top: 20px;

  small {
    color: var(--mat-form-field-hint-text-color);
  }
}

@media (max-width: 600px) {
  .page-container {
    padding: 10px;
  }

  h1 {
    font-size: 1.2rem;
  }

  button {
    width: 100%; // Make buttons full-width on smaller screens
  }
}