@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; /* Default light theme */
@import '@angular/material/prebuilt-themes/purple-green.css';    /* Valid Dark theme */

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/* Scoping the themes */
body.light-theme {
  /* Light theme styles are primarily handled by deeppurple-amber.css */
  background-color: #fafafa; 
  color: #212121; 
}

body.dark-theme {
  /* Dark theme styles are primarily handled by purple-green.css */
  background-color: #303030; 
  color: #ffffff; 
}

/* Additional global styles if needed */
