@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; /* Default light theme */
@import '@angular/material/prebuilt-themes/purple-green.css';    /* Valid Dark theme */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Scoping the themes */
body.light-theme {
  /* Light theme styles are primarily handled by deeppurple-amber.css */
  background-color: #fafafa; // Light background
  color: #212121; // Dark text
}

body.dark-theme {
  /* Dark theme styles are primarily handled by purple-green.css */
  background-color: #303030; // Dark background
  color: #ffffff; // Light text
}